<%- include("../partials/header")%>
<h1>Item Descriptions</h1>
<form  action="/items" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="image" placeholder="paste in image url">
        <input type="submit" value='CLICK ME TO SUBMIT'>
</form>
<%- include("../partials/footer")%>